# Epidemiology

## About this data

Information related to the COVID-19 infections for each date-region pair.

## Schema
| Name | Type | Description | Example |
| ---- | ---- | ----------- | ------- |
| **date** | `string` | ISO 8601 date (YYYY-MM-DD) of the datapoint | 2020-03-30 |
| **key** | `string` | Unique string identifying the region | CN_HB |
| **new_confirmed<sup>1</sup>** | `integer` | Count of new cases confirmed after positive test on this date | 34 |
| **new_deceased<sup>1</sup>** | `integer` | Count of new deaths from a positive COVID-19 case on this date | 2 |
| **new_recovered<sup>1</sup>** | `integer` | Count of new recoveries from a positive COVID-19 case on this date | 13 |
| **new_tested<sup>2</sup>** | `integer` | Count of new COVID-19 tests performed on this date | 13 |
| **cumulative_confirmed<sup>3</sup>** | `integer` | Cumulative sum of cases confirmed after positive test to date | 6447 |
| **cumulative_deceased<sup>3</sup>** | `integer` | Cumulative sum of deaths from a positive COVID-19 case to date | 133 |
| **cumulative_recovered<sup>3</sup>** | `integer` | Cumulative sum of recoveries from a positive COVID-19 case to date | 133 |
| **cumulative_tested<sup>2,3</sup>** | `integer` | Cumulative sum of COVID-19 tests performed to date | 133 |

### Import libraries

In [1]:
import pandas as pd

### Read data

In [29]:
epidemiology_chunker = pd.read_csv("../epidemiology.csv", chunksize=1000)

In [30]:
for chunck in epidemiology_chunker: 
    print(chunck.head()) 
    break

         date location_key  new_confirmed  new_deceased  new_recovered  \
0  2020-01-01           AD              0             0            NaN
1  2020-01-02           AD              0             0            NaN
2  2020-01-03           AD              0             0            NaN
3  2020-01-04           AD              0             0            NaN
4  2020-01-05           AD              0             0            NaN

   new_tested  cumulative_confirmed  cumulative_deceased  \
0         NaN                     0                    0
1         NaN                     0                    0
2         NaN                     0                    0
3         NaN                     0                    0
4         NaN                     0                    0

   cumulative_recovered  cumulative_tested
0                   NaN                NaN
1                   NaN                NaN
2                   NaN                NaN
3                   NaN                NaN
4                   NaN                NaN

In [32]:
epidemiology_chunker = pd.read_csv("./data/epidemiology.csv", chunksize=1000)
for chunck in epidemiology_chunker: 
    print(chunck.info()) 
    break

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  1000 non-null   object
 1   location_key          1000 non-null   object
 2   new_confirmed         1000 non-null   int64
 3   new_deceased          1000 non-null   int64
 4   new_recovered         0 non-null      float64
 5   new_tested            0 non-null      float64
 6   cumulative_confirmed  1000 non-null   int64
 7   cumulative_deceased   1000 non-null   int64
 8   cumulative_recovered  0 non-null      float64
 9   cumulative_tested     76 non-null     float64
dtypes: float64(4), int64(4), object(2)
memory usage: 78.2+ KB
None

Find missing values in key

In [33]:
epidemiology_chunker = pd.read_csv("./data/epidemiology.csv", chunksize=1000)
total = 0
missingKeys = 0

for chunck in epidemiology_chunker:
    total = total + len(chunck)
    missingKeys = missingKeys + len(chunck[chunck.location_key.isnull()])

print(total)
print(missingKeys)

12525825
987

Since the number of missing values of the column location_key are less than 5% we will drop them, and filter only de countries.

In [39]:
epidemiology_chunker = pd.read_csv("./data/epidemiology.csv", chunksize=1000)
epidemiology_countries = pd.DataFrame([]) 
for chunck in epidemiology_chunker:
    #delete missing values in column location_key
    chunck_clean = chunck.dropna(subset = ['location_key'])
    #select only countries
    new_chunck = chunck_clean[chunck_clean['location_key'].str.contains("_")==False]
    epidemiology_countries = pd.concat([epidemiology_countries,new_chunck])
len(epidemiology_countries)

226892

### Save as binary

In [40]:
epidemiology_countries.to_pickle('data/epidemiology_pickle')

### Read from binary

In [43]:
epidemiology_clean = pd.read_pickle('data/epidemiology_pickle')
epidemiology_clean.reset_index()

,index,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested
0,0,2020-01-01,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
1,1,2020-01-02,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
2,2,2020-01-03,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
3,3,2020-01-04,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
4,4,2020-01-05,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
226887,12525820,2022-09-09,ZW,11.0,0.0,NaN,NaN,256870.0,5596.0,NaN,NaN
226888,12525821,2022-09-10,ZW,18.0,0.0,NaN,NaN,256888.0,5596.0,NaN,NaN
226889,12525822,2022-09-11,ZW,0.0,0.0,NaN,NaN,256888.0,5596.0,NaN,NaN
226890,12525823,2022-09-12,ZW,51.0,0.0,NaN,NaN,256939.0,5596.0,NaN,NaN
226891,12525824,2022-09-13,ZW,0.0,0.0,NaN,NaN,256939.0,5596.0,NaN,NaN

### Convert date from object to date

In [46]:
epidemiology_clean['date']= pd.to_datetime(epidemiology_clean['date'])

### Add year and month columns

In [47]:
epidemiology_clean['year'] = epidemiology_clean['date'].dt.strftime('%Y')
epidemiology_clean['month'] = epidemiology_clean['date'].dt.strftime('%m')

In [49]:
epidemiology_clean.head()

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested,year,month
0,2020-01-01,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020,01
1,2020-01-02,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020,01
2,2020-01-03,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020,01
3,2020-01-04,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020,01
4,2020-01-05,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020,01

### Group by location_key, year and month

In [63]:
epidemiology_gr = epidemiology_clean.groupby(['location_key','year','month'])[['new_confirmed','new_deceased','new_recovered','new_tested']].agg([sum])

In [64]:
epidemiology_gr.reset_index()

,location_key,year,month,new_confirmed,new_deceased,new_recovered,new_tested
,,,,sum,sum,sum,sum
0,AD,2020,01,0.0,0.0,0.0,0.0
1,AD,2020,02,0.0,0.0,0.0,0.0
2,AD,2020,03,396.0,13.0,0.0,0.0
3,AD,2020,04,350.0,30.0,0.0,0.0
4,AD,2020,05,19.0,8.0,0.0,0.0
...,...,...,...,...,...,...,...
7611,ZW,2022,05,5032.0,38.0,0.0,3537.0
7612,ZW,2022,06,2806.0,51.0,0.0,0.0
7613,ZW,2022,07,723.0,20.0,0.0,0.0
7614,ZW,2022,08,341.0,18.0,0.0,0.0
7615,ZW,2022,09,195.0,0.0,0.0,0.0